<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="storeWebApp" version="2.5">
	<display-name>STORE</display-name>
	<description>store</description>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>com.donglu.carpark.servlet.KailongStoreServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/StoreServlet</url-pattern>
  </servlet-mapping>

	


	<!-- 配置session超时时间，单位分钟 -->
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>

	<!-- 配置错误页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>

	<!-- 项目起始页面 -->
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>